name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}] # Runs every midnight
  workflow_dispatch: # Allows you to run it manually
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          template: terminal
          base: header, activity, community, repositories, metadata
          filename: github-metrics.svg # The name of the file it creates
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_limit: 8
